body {
    margin: 0;
}

ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: pink;

}

ul.topnav li {
    float: left;
}

ul.topnav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    letter-spacing: 0.1em;
    font-size: 18px;
}

ul.topnav li a:hover:not(.active) {
    background-color: #b19cd9;
}

ul.topnav li a.active {
    background-color: turquoise;
}

ul.topnav li.right {
    float: right;
}

@media screen and (max-width: 600px) {

    ul.topnav li.right,
    ul.topnav li {
        float: none;
    }
}

iframe {
width:30%;
height:auto;
}

.video-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
  


}

.header {

    font-family: serif;
    font-size: 2.5vw;
    color: mediumpurple;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.paren {

    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-top: 200px;
}


.frame {

padding-left: 60%;



    
}
.text {
    
    
    font-size: 2.5vw;
    font-family: serif;
    color: grey;
    margin-top: 80px;
    

}
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

    

