body {
    margin: 0;
}

ul.topnav {
    list-style-type: none;
    margin: 0;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 4px;
    overflow: hidden;
    background-color: white;

}

ul.topnav li {
    float: left;
}

ul.topnav li a {
    display: block;
    color: grey;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    letter-spacing: 0.1em;
    font-size: 18px;
}

ul.topnav li a:hover:not(.active) {
    background-color: plum;
    border-radius: 35px;
    border: 1px solid mediumpurple;
    transform: scale(1.2);
}

ul.topnav li a.active {
    background-color: turquoise;
    border-radius: 35px;
    border: 1px solid mediumpurple;

}


ul.topnav li a.active:hover{
    background-color: plum;
    transform: scale(1.2);
    margin-left: 5px;
}

ul.topnav li.right {
    float: right;
}



@media screen and (max-width: 600px) {



    ul.topnav li.right,
    ul.topnav li {
        float: none;
    }


    ul.topnav li a:hover:not(.active) {
        background-color: plum;
        border-radius: 35px;
        border: 1px solid mediumpurple;
        transform: none;
        margin: 5px;
        

        
    
    }
    ul.topnav li a.active:hover{
        transform: none;
    }


    ul.topnav {
        list-style-type: none;
        padding-left: 0;
        overflow: hidden;
        background-color: white;


    }

    ul.topnav li a.active {

        margin: 5px;
    }
   


}


.header {

    font-family: serif;
    font-size: 2.5vw;
    color: mediumpurple;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    margin-bottom: 150px;
}



 .responsive-video {
     position: relative;
     padding-bottom: 56.25%;
     padding-top: 60px;
     overflow: hidden;
     width: 100%;
     height: auto;
 }

 .responsive-video iframe
  {
     position: absolute;
     top: 0;
     left: 25%;
     width: 50%;
     height: 50%;
     border-radius: 35px;
     border: 1px solid plum;

 }


 .text {

   
  font-family: serif;
  font-size: 3vw;
  color: grey;
  text-align: center;
  margin-top: -250px;
  margin-bottom: 250px;


 }


 li {

    list-style-type: none;
 }


@media screen and (max-width: 600px){


    .responsive-video {
        position: relative;
        padding-bottom: 56.25%;
        padding-top: 60px;
        overflow: hidden;
        width: 93%;
        height: auto;
        border-radius: 33px;
    }

    .responsive-video iframe
     {
        position: absolute;
        top: 0;
        left: 7%;
        width: 93%;
        height: 90%;
        border-radius: 33px;
        border: 1px solid plum;
    }

    .text {

        margin-top: 40px;
        font-size: 20px;
    }

    .header {

        margin-top: 50px;
        margin-bottom: 50px;
    }


}

