body {
    margin: 0;
}

.logo-image{
  
    
    overflow: hidden;
    margin-top: 5px;
    margin-bottom: 5px;
}

ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #ffe6ee;
   
}

ul.topnav li {
    float: left;
}

ul.topnav li a {
    display: block;
    color: grey;
    text-align: center;
    padding: 19px 21px;
    text-decoration: none;
    letter-spacing: 0.1em;
    font-size: 18px;
}

ul.topnav li a:hover:not(.active) {
    background-color: plum;
}

ul.topnav li a.active {
    background-color: turquoise;
}

ul.topnav li.right {
    float: right;
}

.image {

    width: 100%;
}

.image {

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 25px;
    margin-bottom: 25px;
     
}
.img1 {

    width: 100%;
    height: auto;
}

.slide {

    max-width: 40%;
    margin-left: 25px;
    margin-top: 90px;
    margin-bottom: 25px;
    
} 


.slides {

    width: 100%;

}



.slide1 {

    float: right;
    max-width: 40%;
    margin-right:25px;
    margin-top: 90px;
    margin-bottom: 25px;
}
.slides1 {

    width: 100%;
}

 
@media screen and (max-width: 600px) {

    ul.topnav li.right,
    ul.topnav li {
        float: none;
    }

    .logo-image {

        max-width: 90%;


    }

    .image {

        display: none;
    }
}

